.foretaste{
  .foretaste-header{
    margin: 20px;
  }
  .foretaste-content{
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 100%;
    ul{
      width: 50%;
      float: left;
      li{
        line-height: 26px;
        font-size: 14px;
        color: #000;
        font-weight: 500;
        &.title{
          font-size: 20px;
          line-height: 60px;
        }
      }
    }
  }
  .foretaste-form{
    border-top: 1px solid #0f3677;
    .form-title{
      font-size: 20px;
      line-height: 60px;
      text-align: center;
      margin-top: 30px;
    }
    .form-content{
      width: 100%;
      background: #f0f0f0;
      padding: 50px 0;
      margin-bottom: 80px;
      .info-list{
        width: 100%;
        margin-bottom: 50px;
        li{
          width: 520px;
          float: left;
          height: 38px;
          margin-bottom: 15px;
          margin-left: 80px;
          .title{
            display: inline-block;
            width: 70px;
            text-align: right;
            font-size: 14px;
            color: #4f4f4f;
          }
          ::-webkit-input-placeholder{
            color: #d7d7d7;
          }
          input{
            width: 320px;
            height: 36px;
            border: 1px solid #c8c8c8;
            padding-left: 10px;
          }
          select.taste-place{
            width: 330px;
            height: 36px;
          }
          select.taste-area{
            width: 100px;
            height: 34px;
            margin-right: 15px;
          }
        }
      }
      a.submit{
        width: 250px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        background: #e9546b;
        margin: 20px auto;
        border-radius: 5px;
      }
    }
  }
}