/*banner*/
.banner {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative; }
  .banner .imgs {
    position: absolute;
    left: 0;
    top: 0;
    width: 9600px; }
    .banner .imgs li {
      float: left; }
  .banner .roll {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%); }
    .banner .roll li {
      cursor: pointer;
      float: left;
      width: 20px;
      height: 6px;
      border-radius: 4px;
      background: #45515e;
      margin-right: 10px; }
      .banner .roll li.current {
        background: #e9546b; }

/*!banner*/
/*section*/
.section .section-title {
  margin: 0 auto;
  margin-top: 100px;
  width: 270px;
  height: 172px;
  text-align: center;
  background: url("../images/section_title_bg.png") no-repeat; }
  .section .section-title p.cn {
    padding-top: 70px;
    color: #e9546b;
    font-size: 24px; }
  .section .section-title p.en {
    margin-top: 16px;
    color: #e9546b;
    font-size: 16px; }
.section .section-content {
  margin: 80px 0; }

/*!section*/
.entries {
  margin: 100px auto;
  width: 940px;
  position: relative; }
  .entries .entry {
    float: left;
    box-shadow: 0px 0px 5px 10px #fdf3f5; }
    .entries .entry:hover {
      box-shadow: 0px 0px 15px 6px #fabdc9; }
    .entries .entry.szone {
      width: 500px;
      height: 294px;
      background: url("../images/index/entry-szone.jpg") no-repeat;
      margin-right: 30px;
      margin-bottom: 30px; }
    .entries .entry.express {
      width: 410px;
      height: 294px;
      background: url("../images/index/entry-express.jpg") no-repeat;
      margin-bottom: 30px; }
    .entries .entry.strawberry {
      width: 295px;
      height: 294px;
      background: url("../images/index/entry-strawberry.jpg") no-repeat; }
    .entries .entry.exchange {
      width: 294px;
      height: 294px;
      background: url("../images/index/entry-exchange.jpg") no-repeat;
      margin: 0 28px; }
    .entries .entry.rating {
      width: 295px;
      height: 294px;
      background: url("../images/index/entry-raking.jpg") no-repeat; }

/*!our-inspiration*/
/*divider*/
.index-divider {
  width: 100%;
  height: 4px;
  background: #eaeaea; }

/*!divider*/
/*best-choice*/
.best-choice .section-content {
  overflow: hidden; }
  .best-choice .section-content ul {
    width: 1220px; }
    .best-choice .section-content ul li.product {
      float: left;
      width: 293px;
      height: 400px;
      box-sizing: border-box;
      position: relative;
      margin-right: 9px;
      margin-bottom: 10px; }
      .best-choice .section-content ul li.product:nth-child(4n) {
        margin-right: 0; }
      .best-choice .section-content ul li.product .img {
        position: relative;
        overflow: hidden;
        height: 291px; }
        .best-choice .section-content ul li.product .img .productBuy {
          position: absolute;
          width: 291px;
          height: 291px;
          background: rgba(255, 255, 255, 0.7);
          left: 0;
          bottom: -100%; }
          .best-choice .section-content ul li.product .img .productBuy .close {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 16px;
            height: 16px;
            background-position: -24px -48px;
            background: url("../images/icon_close_16_rect.png"); }
          .best-choice .section-content ul li.product .img .productBuy .spec-switch {
            width: 100%;
            margin-top: 35px; }
            .best-choice .section-content ul li.product .img .productBuy .spec-switch li {
              margin: 0 auto;
              width: 100px;
              height: 30px;
              background: #e9546b;
              color: #fff;
              cursor: pointer;
              font-size: 16px;
              line-height: 30px;
              text-align: center; }
          .best-choice .section-content ul li.product .img .productBuy .spec-tab .product-size {
            margin: 20px; }
            .best-choice .section-content ul li.product .img .productBuy .spec-tab .product-size li {
              cursor: pointer;
              float: left;
              margin-right: 10px;
              width: 50px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              border: 1px solid #000;
              color: #000; }
              .best-choice .section-content ul li.product .img .productBuy .spec-tab .product-size li.select {
                border-color: #e9546b;
                color: #e9546b;
                background: url("../images/icon_order_active_17.png") no-repeat bottom right;
                background-size: 17px 17px; }
          .best-choice .section-content ul li.product .img .productBuy .spec-tab .comment-list {
            margin-left: 15px;
            margin-top: -5px; }
            .best-choice .section-content ul li.product .img .productBuy .spec-tab .comment-list li {
              margin-bottom: 10px;
              font-size: 12px; }
              .best-choice .section-content ul li.product .img .productBuy .spec-tab .comment-list li::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background: #000;
                margin-right: 10px; }
          .best-choice .section-content ul li.product .img .productBuy .spec-count {
            margin-top: 15px;
            margin-left: 50px; }
            .best-choice .section-content ul li.product .img .productBuy .spec-count .minus, .best-choice .section-content ul li.product .img .productBuy .spec-count .add {
              display: inline-block;
              width: 25px;
              height: 25px;
              background: url("../images/icon_sub_disabled.png") no-repeat; }
            .best-choice .section-content ul li.product .img .productBuy .spec-count .count {
              display: inline-block;
              width: 55px;
              height: 25px;
              border: 1px solid #b4b4b4;
              margin: 0 6px;
              text-align: center;
              vertical-align: top;
              box-sizing: border-box; }
            .best-choice .section-content ul li.product .img .productBuy .spec-count .sum {
              display: inline-block;
              width: 55px;
              height: 25px;
              background: #e9546b;
              color: #fff;
              line-height: 25px;
              text-align: center;
              vertical-align: top;
              margin-right: 5px; }
              .best-choice .section-content ul li.product .img .productBuy .spec-count .sum i {
                font-style: normal; }
            .best-choice .section-content ul li.product .img .productBuy .spec-count .add {
              background: url("../images/icon_add_enabled.png") no-repeat; }
          .best-choice .section-content ul li.product .img .productBuy .operator {
            margin-top: 10px;
            margin-left: 45px; }
            .best-choice .section-content ul li.product .img .productBuy .operator a {
              width: 90px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              background: #e9546b;
              font-size: 14px;
              margin-right: 20px;
              float: left; }
      .best-choice .section-content ul li.product .productInfo {
        margin-left: 20px;
        z-index: 999; }
        .best-choice .section-content ul li.product .productInfo .desc {
          margin-top: 15px;
          font-size: 14px;
          color: #b5b5b5;
          width: 270px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .best-choice .section-content ul li.product .productInfo .name {
          font-size: 14px;
          margin-top: 15px;
          color: #635859; }
        .best-choice .section-content ul li.product .productInfo .price {
          margin-top: 15px;
          font-size: 14px;
          color: #ee6d6b; }
          .best-choice .section-content ul li.product .productInfo .price span {
            font-size: 12px; }
        .best-choice .section-content ul li.product .productInfo .cart {
          position: absolute;
          width: 28px;
          height: 28px;
          background: url("../images/icon_join_basket_rect.png") no-repeat;
          right: 15px;
          bottom: 10px; }
      .best-choice .section-content ul li.product .favor {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 30px;
        width: 30px;
        background: url("../images/icon.png");
        background-position: -116px -31px;
        display: none; }
      .best-choice .section-content ul li.product:hover {
        border: 1px solid #e9546b; }
        .best-choice .section-content ul li.product:hover .favor {
          cursor: pointer;
          display: block; }
          .best-choice .section-content ul li.product:hover .favor:hover {
            background-position: -146px 0px; }

/*!best-choice*/
/*feature*/
.feature {
  margin-bottom: 60px; }
  .feature ul li {
    float: left;
    border: 1px solid #f0f0f0; }

/*/feature*/

/*# sourceMappingURL=index.css.map */
